@font-face {
font-family: 'Fregat';
src: url("../fonts/Fregat.woff") format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
	font-family: 'Fregat';
	src: url("../fonts/Fregat-Bold.woff") format('woff');
	font-weight: bold;
	font-style: normal;
}	
		
	
body {	
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 940px;
	margin:  0 auto;
	padding: 0 10px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}


/* Шапка */



.menu-link {
	color: #1a09c9;
	text-decoration: none;
	display: block;
	padding-top: 21px;
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: 28px;


}

.menu-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.menu-item {
	display: inline-block;
	font-size: 16px;
	font-family: Fregat;
	font-weight: bold;
	line-height: 1.5;
	text-transform: uppercase;
}

		
.active {
	border: 1px solid #808080;
	border-radius: 29px;
	color: #555555;
	padding: 3px 15px 1px 12px;
	transform: translateX(-14px);
}

.user-search {
	position: relative;
	
}

.main-header {
	margin-bottom: 49px;
	background-color: #f2f2f2;
	
}

.user-search-input {
	border-radius: 40px;
	font-family: Arial,sans-serif;
	line-height: 1.6;
	font-size: 12px;
	padding: 9px 25px 3px 10px;
	border: 0;
	outline: 0;
	width: 186px;
	box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}	

.user-search-input::-webkit-input-placeholder {
			 color: #ababab;
}
	

.user-search-btn {
	width: 13px;
	height: 13px;
	background-image: url("../img/search.png"); 
	background-repeat: no-repeat;
	position: absolute;
	top: 10px;
	right: 14px;
	cursor:pointer;
	border: 0;
	background-color: #ffffff;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	
/* футер */

.page-footer {
	background-color: #f2f2f2;
	margin-top: 88px;
	padding-bottom: 70px;

}

.info {
	float: left;
}
 

.copyright {
	float: right;
	font-family: Arial,sans-serif;
	font-size: 12px;
	line-height: 1.6;
	color: #555555;
	padding-right: 2px;
	padding-top: 27px;
}

.info-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.info-item {
	display: inline-block;
	font-size: 16px;
	font-family: Fregat;
	font-weight: bold;
	line-height: 1.5;
	text-transform: uppercase;
}

.info-link {
	color: #1a09c9;
	text-decoration: none;
	display: block;
	padding-bottom: 25px;
	padding-right: 24px;
	padding-top: 23px;
}

/* Логотип */


.logo {
	margin-bottom: 32px;
}

.logo-img {
	width: 85px;
	padding-right: 10px;
	padding-top: 5px;
	float: left;
}

.logo-text {
	float: left;
	width: 320px;
	padding-left: 24px;
	padding-bottom: 11px;
}

.logo-title {
	margin: 0;
	font-size: 48px;
	padding: 0;
	font-family: Fregat;
	font-weight: bold;
	line-height: 1;
	color: #555555;
	text-transform: uppercase;

}



.logo-title-small {
	font-size: 12px;
	font-family: Arial,sans-serif;
	font-weight:normal;
	line-height: 1.6;
	color: #747474;
	display: block;
	text-transform: lowercase;
}



/* Крошки */

.breadcrumbs {
	margin-bottom: 3px;
}


.breadcrumbs-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.bc-item {
	position: relative;
	display: inline-block;
	font-size: 12px;
	line-height: 2.5;
	font-family: Arial,san-serif;
}


.bc-link {
	color: #555555;
	display: block;
	padding-right: 21px;
	padding-left: 0px;
}



.bc-item:first-child::after {
	content: "\2192";
	position: absolute;
	color: #555555;
	left: 52px;
	top: -1px;
}


/* Форма */


.index-content-title {
	margin: 0;
	font-family: Fregat;
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
	color: #555555;
	text-transform: uppercase;
	
}

.ap-form {
	padding-top: 58px;
	
}

.ap-form-list {
	padding: 0;
	margin: 0;
}

.ap-form-item { 
      padding: 0;
      float: left;
      clear: left;
      width: 140px;
      margin-left: 0px;
      margin-top: 16px;
      margin-right: 11px;
      margin-bottom: 14px;     	
}

.form-definition {
	float: left;
	margin: 0;
	padding: 10px;
}

.form-lb {
	font-family: Arial,san-serif;
	font-size: 12px;
	line-height: 1.6;
	color: #555555;
	vertical-align: top;
}

.ap-name-input {
 	width: 455px;
	height: 28px;
	box-shadow: 
	0px 1px 0px 0px #afafaf,
	0px 2px 0px 0px #e4e4e4,
	-1px 0px 0px 0px #e4e4e4,
	1px 0px 0px 0px #e4e4e4;
	border-radius: 3px;
	border: 0;
	background: #f6f6f6;
	padding-left: 5px;
}

.ap-code-input {
	width: 295px;
	height: 28px;
	box-shadow: 
	0px 1px 0px 0px #afafaf,
	0px 2px 0px 0px #e4e4e4,
	-1px 0px 0px 0px #e4e4e4,
	1px 0px 0px 0px #e4e4e4;
	border-radius: 3px;
	border: 0;
	background: #f6f6f6;
	padding-left: 5px;
}

.ap-select {
	width: 300px;
	height: 30px;
	box-shadow: 
	0px 1px 0px 0px #afafaf,
	0px 2px 0px 0px #e4e4e4,
	-1px 0px 0px 0px #e4e4e4,
	1px 0px 0px 0px #e4e4e4;
	border-radius: 3px;
	border: 0;
	background: #f6f6f6;
	font-size: 12px;
	line-height: 1.6;
	font-family: Arial, sans-serif;
	color: #555555;
	padding-left: 6px;
	padding-top: 6px;
	padding-bottom:3px;
}


.ap-input-description {
	width: 455px;
	height: 163px;
	box-shadow: 
	0px 1px 0px 0px #afafaf,
	0px 2px 0px 0px #e4e4e4,
	-1px 0px 0px 0px #e4e4e4,
	1px 0px 0px 0px #e4e4e4;
	border-radius: 3px;
	border: 0;
	background: #f6f6f6;
	padding-left: 5px;
	padding-top: 5px;
}

ap-input-popular {
	margin: 0;
}

.btn {

	width: 220px;
	border: 1px solid #6255ee;
	font-family: Fregat;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.8;
	color: #1a09c9;
	border-radius: 35px;
	background: #ffffff;
	padding: 10px 0;
	text-transform: uppercase;
}

.def-btn {
	padding-top: 31px;
}

.btn:hover {
	background-color: #3a29f4;
	color: #ffffff;
}				